<div id="carouselExampleDark" class="carousel carousel-dark slide mb-4">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../assets/images/bg/mantenimiento.jpg" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-danger"><strong>MANTENIMIENTO PREVENTIDO</strong></h5>
                
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/images/bg/alineacion.jpg" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-danger"><strong>ALINIACION CON LA ULTIMA TECNOLIGIA</strong></h5>
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/bg/certificado.jpg" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-danger"><strong>MANTENIMIENTO GARANTIZADO Y CERTIFICADO</strong></h5>
                
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="text-center">Centro de Tecnomecánica</h4>
        <h5 class="card-text text-muted font-weight-light">
            
                Nuestro centro de tecno-mecánica se destaca por ofrecer un servicio integral y de alta calidad, gestionando citas a través de una aplicación web fácil de usar, lo que optimiza la experiencia del cliente y asegura atención personalizada. Contamos con todas las certificaciones necesarias en mecánica y electricidad, respaldando nuestra excelencia. Nuestro equipo de profesionales capacitados se especializa en alineación y balanceo de vehículos, garantizando resultados duraderos. La satisfacción del cliente es nuestra prioridad, y nos esforzamos por ofrecer un servicio excepcional en un ambiente confiable.
            
        </h5>
    </div>
</div>
