/* Card container spacing */
.row.mt-4.mb-4 {
    margin-top: 190px;  /* Extra space above the testimonials */
    margin-bottom: 190px; /* Extra space below the testimonials */
}

/* Testimonial card styling */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 10px; /* Espacio interno para el contenido */
    border-radius: 50px; /* Bordes redondeados en toda la tarjeta */
}

.card-img-top {
    width: 300px; /* Tamaño de la imagen */
    height: 300px; /* Mantener altura igual para que sea redonda */
    border-radius: 50%; /* Asegura que la imagen sea perfectamente redonda */
    object-fit: cover; /* Asegura que la imagen mantenga proporción */
    margin: 0 auto 10px; /* Centra la imagen horizontalmente y añade espacio inferior */
}

.card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-text {
    font-style: italic;
    color: #000000;
}
