<div class="row">
    <div class="col-md-6 col-lg-4" *ngFor='let blogcard of blogcards'>
        <div class="card">
            <img [src]=blogcard.image alt="blogs" class="card-img-top h-50">
            <div class="card-body text-wrap">
                <h4 class="card-title d-flex p-2"><strong>{{blogcard.title}}</strong></h4>
                <h6 class="card-subtitle d-flex p-2"><strong>{{blogcard.subtitle}}</strong></h6>
                <p class="d-flex  p-2 text-bg-info  bs-light-border-subtle text-align: center"><strong>{{blogcard.subtext}}</strong></p>
            </div>
        </div>
    </div>
</div>