<main class="container d-flex justify-content-center align-items-center py-5">
    <div class="col-md-12 col-lg-10 overflow-auto" style="max-height: 90vh;">
      <div class="text-center mb-4">
        <h1 class="h2">Centro de control</h1>
      </div>
  
      <div class="card mb-4">
        <div class="card-body text-center">
          <!-- title -->
          <h4 class="card-title"><strong>Lista de mecánicos</strong></h4>
          <h5 class="card-subtitle mb-4"><strong>Tabla de turnos</strong></h5>
          <!-- title -->
          <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th class="text-dark font-medium fs-5">Técnico</th>
                  <th class="text-dark font-medium fs-5">Ocupación-Técnica</th>
                  <th class="text-dark font-medium fs-5">Disponibilidad</th>
                  <th class="text-dark font-medium fs-5">Turno</th>
                  <th class="text-dark font-medium fs-5">Estado</th>
                </tr>
              </thead>
              <tbody>
                <!-- Repetir cada técnico en la lista topSelling -->
                <tr *ngFor="let ts of topSelling">
                  <td>
                    <div class="d-flex align-items-center">
                      <img [src]="ts.image" alt="user" width="45" class="rounded-circle">
                      <div class="ms-3">
                        <h5 class="mb-0 font-medium">{{ ts.uname }}</h5>
                        <span>{{ ts.gmail }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="fs-5">{{ ts.productName }}</td>
                  <td>
                    <!-- Cambia el color de fondo basado en el estado -->
                    <span [ngClass]="{'bg-danger': ts.status === 'danger', 'bg-success': ts.status === 'success'}" 
                          class="p-2 rounded-circle d-inline-block ms-3">
                    </span>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{ ts.weeks }}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{ ts.budget }}</h5>
                  </td>
                </tr>              
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <div class="text-center mt-4">
        <h2>Status del taller</h2>
        <div class="tabla-mecanicos mt-4">
          <h2>Estado de Tareas de los Mecánicos</h2>
          <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th>Mecánico</th>
                  <th>Cambio de Aceite</th>
                  <th>Revisión de Luces</th>
                  <th>Revisión Técnico-mecánica</th>
                  <th>Cambio de Batería</th>
                  <th>Porcentaje Completo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mecanico of mecanicos">
                  <td>{{ mecanico.nombre }}</td>
                  <td>
                    <input type="checkbox" (change)="calcularPorcentaje(mecanico)" />
                  </td>
                  <td>
                    <input type="checkbox" (change)="calcularPorcentaje(mecanico)" />
                  </td>
                  <td>
                    <input type="checkbox" (change)="calcularPorcentaje(mecanico)" />
                  </td>
                  <td>
                    <input type="checkbox" (change)="calcularPorcentaje(mecanico)" />
                  </td>
                  <td>{{ mecanico.porcentaje }}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  