<div class="modal-header">
    <h4 class="modal-title">Formulario de inscripcion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
      
      <div class="col-12">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
        <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched" class="invalid-feedback">
          El nombre es un dato obligatorio.
        </div>
      </div>
      
      <div class="col-12">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="last_name" formControlName="last_name" required>
        <div *ngIf="myForm.get('last_name')?.invalid && myForm.get('last_name')?.touched" class="invalid-feedback">
          El apellido es un dato obligatorio.
        </div>
      </div>
      
      <div class="col-12">
        <label for="document" class="form-label">Número de Documento</label>
        <div class="input-group has-validation">
          <input type="number" class="form-control" id="document" formControlName="document" required>
          <div *ngIf="myForm.get('document')?.invalid && myForm.get('document')?.touched" class="invalid-feedback">
            El número de documento es obligatorio.
          </div>
        </div>
      </div>
      
      <div class="col-12">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="invalid-feedback">
          Por favor ingrese un correo electrónico válido.
        </div>
      </div>
      
      <div class="col-12">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
        <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="invalid-feedback">
          La contraseña es obligatoria.
        </div>
      </div>
      
      <div class="col-12">
        <button id="btn" class="btn btn-primary" type="submit">Enviar formulario</button>
      </div>
  
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" id="btn1" (click)="dismiss()">Cerrar</button>
  </div>
  