<div class="row mt-4 mb-4">
    <h4 class="text-center" style="margin-bottom: 50px;"><strong>TESTIMONIOS</strong></h4>


    <div class="col-md-6 col-lg-3">
        <div class="card2 text-center">
            <div class="image-container mb-4">
                <img src="../../../../assets/images/testimonios/testimonio4.jpg" alt="Cliente satisfecho" class="card-img-top" style="width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <p class="card-text text-bg-dark"><strong>"SERGIO SARMIENTO: El servicio fue increíble y rápido. Mi coche nunca había funcionado tan bien, Estoy muy emocionado!."</strong></p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card2 text-center">
            <div class="image-container mb-4">
                <img src="../../../../assets/images/testimonios/testimonio3.jpg" alt="Cliente satisfecho" class="card-img-top" style="width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <p class="card-text text-bg-dark"><strong>"SANTIAGO PREDEGAL: Profesionalismo y atención al detalle. Muy satisfecho con los resultados."</strong></p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card2 text-center">
            <div class="image-container mb-4">
                <img src="../../../../assets/images/testimonios/testimonio2.jpg" alt="Cliente satisfecho" class="card-img-top" style="width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <p class="card-text text-bg-dark"><strong>"DAVID PLAZAS: Dejé mi coche con ellos y me sentí en buenas manos desde el primer momento."</strong></p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card2 text-center">
            <div class="image-container mb-4">
                <img src="../../../../assets/images/testimonios/testimonio1.jpg" alt="Cliente satisfecho" class="card-img-top" style="width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <p class="card-text text-bg-dark"><strong>"DIANA TURBAY: Servicio excepcional, ¡mi coche está en excelentes condiciones!, Recomendados 100%."</strong></p>
            </div>
        </div>
    </div>
</div>
